@model RoletopMVC.ViewModel.BaseViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Roletop</title>
    <!-- <link rel="stylesheet" type= "text/css" href="~/css/style-model.css"> -->
    <script src="https://kit.fontawesome.com/349a64cb04.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    
</head>



<!-- ================================================================================================
    header
    ===============================================================================================-->

<body>


    <header>
        <div style=" visibility = hidden">

        </div>
    </header>
    <!-- ================================================================================================
                                            categorias de evento
    ===============================================================================================-->
    @RenderBody()

    <!-- ================================================================================================
                                                    footer
    ===============================================================================================-->

    <footer>
        <div style="visibility =hidden;"></div>
    </footer>
</body>

</html>

