*{
    margin: 0;
    padding: 0;

}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    margin: 0 auto; 
    

}
p {

    font-size: 1em;
}

h1 {
justify-content: end;
}


/* =============================================
                header
================================================*/
header{
position: fixed;
width: 100%;
height: 0px;
z-index: 999;
background: #171a25;
}
.menu {
    width: 100%;
    height: 50px;
    background-color: #171a25;
    font-family: Arial;
}

   /*Estilizando as listas */
.menu ul {
    list-style: none;
    position: relative;
}

.menu ul li {
    width: 150px;
    float: left;
}

.menu a {
    
    padding-top: 12px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #171a25;
    color: #fff;
}

.menu ul li:hover ul {
    visibility: visible;
}

.menu a:hover {
    background-color: #f4f4f4;
    color: #555;
}

/*Criando o label */
label[for=”bt_menu”]{
    padding: 5px;
    background-color: #171a25;
    /* color: #fff; */
    font-family: Arial;
    text-align: center;
    font-size: 90em;
    cursor: pointer;
    height: 50px;
    visibility: hidden;
}

#bt_menu {
    display: none;
    font-size: 10em;
    visibility: hidden;
}

label[for=”bt_menu”]{
    display: none;
    visibility: hidden;
    
}

/*Deixando o Menu Responsivo */

@media(max-width: 1050px) {
    label[for=”bt_menu”] {
    display: block;
}

#bt_menu:checked ~ .menu{
    margin-left: 0;
}

.menu{
    position: relative;
    top: -2.7em;
    margin-top: 5px;
    margin-left: -100%;
    transition: all .1s;
}

.menu ul li {
    width: 100%;
    float: none;
}

.menu ul ul {
    position: static;
    overflow: hidden;
    max-height: 0;
    transition: all 4s;
}

.menu ul li:hover ul {
    height: auto;
    max-height: 200px;
}        
}

/* .header {
    position: fixed;
    align-items: flex-end;
    color: white;
    align-content: center;
    justify-content: space-around;
    width: 1690px;
    background: #171a25;
    width: 100%;
}

.section-container {
    margin: 0 auto;
    max-width: 1360px;
}
nav{ 
    width: 100%;
    height: 15%;
    background: #171a25;  
    font-size: 15px;  
    font-family: 'Open Sans', sans-serif;
    
    
}
nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
    list-style-type: none;
}
nav ul > li {
    text-align: center;
    padding: 0.4em;
    display: inline;
    float: left;
}

nav ul > li > a {
    display: block;
	padding: 0.4em;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
} */

.coroa {

    height: 25px;
    width: 35px;

}
#imagem {
    width: 100%; 
    position: relative;
    top: -2.7em;
}

/* .li1{
    position: relative;
    top: 0.5em;
    left: 9em;
}
.li2{
    position: relative;
    top: 0.5em;
    left: 9em;
}
.li3{
    position: relative;
    top: 0.5em;
    left: 9em;
}
.li4{
    position: relative;
    top: 0.5em;
    left: 10em;
}
.li5{
    position: relative;
    top: 0.5em;
    left: 11em;
}
.li6{
    position: relative;
    top: 0.5em;
    left: 12em;
}
.li7{
    position: relative;
    top: 0.5em;
    left: 13em;
} */
/* ================================================================================================
                                                final header
===================================================================================================*/

/*================================================================================================
                                            categorias de evento
===============================================================================================*/
#titulo {
    height: 1em;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.8em;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.81);
}
#titulo2 {
    height: 1em;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.8em;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.81);
}

.flex-group {

display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;


}
.img-show{
    width: 20em;
    height: 15em;
}

#botao {
position: relative;
top: 0em;
left: 44em;
display: inline-block;
margin:1.5em;
padding: 0.5em 1em;
text-decoration: none;
background: #262626;
color: white;
text-shadow: 2px 2px 2px rgb(0, 0, 0,0.5);
border-radius: 0.5em;

justify-content: center
}

.categoria1 {

    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #292929;
    padding-left: 5.5em;

}
.categoria2 {

    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #292929;
    padding-left: 100px;

}
.categoria3 {

    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #292929;
    padding-left: 80px;

}
.categoria4 {

    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #292929;
    padding-left: 80px;

}

@media(max-width: 1622px) {

#botao {
        position: relative;
        top: 0em;
        left: 34em;
        display: inline-block;
        margin:1.5em;
        padding: 0.5em 1em;
        text-decoration: none;
        background: #262626;
        color: white;
        text-shadow: 2px 2px 2px rgb(0, 0, 0,0.5);
        border-radius: 0.5em;
        
        justify-content: center
}
}
@media(max-width: 720px) {

#botao {
        position: relative;
        top: 0em;
        left: 24em;
        display: inline-block;
        margin:1.5em;
        padding: 0.5em 1em;
        text-decoration: none;
        background: #262626;
        color: white;
        text-shadow: 2px 2px 2px rgb(0, 0, 0,0.5);
        border-radius: 0.5em;
        
        justify-content: center
}
}
@media(max-width: 637px) {

#botao {
        position: relative;
        top: 0em;
        left: 4em;
        display: inline-block;
        margin:1.5em;
        padding: 0.5em 1em;
        text-decoration: none;
        background: #262626;
        color: white;
        text-shadow: 2px 2px 2px rgb(0, 0, 0,0.5);
        border-radius: 0.5em;
        
        justify-content: center
}
}

/*================================================================================================
                                    final categorias de evento
===============================================================================================*/

/*================================================================================================
                                    fundadores
===============================================================================================*/

#fundadores-sobre-nos {

display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
background: #272727;
height: 350px;
color: white;
padding-top: 25px;
font-family: 'Open Sans', sans-serif;

}

.fundadores2 {

    display: flex;
	flex-direction: column;

}

.fundadores-txt {

  padding-bottom: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #ffc600;
}
.fundadores {
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.37;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

}

.alexandre {

    padding-right: 100px;
    padding-top: 0px;
    border-top-width: 100px;
}




/*================================================================================================
                                             detalhes
===============================================================================================*/


.detalhes-txt{

    padding-bottom: 40px;
    padding-left: 20px;
    font-family: OpenSans;
    font-size: 32px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-left: 0px;
    color: #ffc600;
    font-family: 'Open Sans', sans-serif;
}

.detalhes-li1{

    padding-left: 15px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding-bottom: 15px;
}

.li1{

    padding-right: 40px;
    font-family: 'Montserrat', sans-serif;
}

.li2{


    padding-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}

/* <!-- ================================================================================================
                                            GALERIA DE FOTOS
===============================================================================================--> */

.experiencia {
   
     padding-top: 70px;
    color: #7d0093;
    padding-left: 89px;
}

.galeria-de-fotos {
    margin-top: 0px;
    padding-bottom: 0px;
    height: 200px;
    justify-content: space-around;
    
}

.galeria-fotos {
    
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 200px;
    margin-right: 410px;
    width: 880px;
    list-style: none;
    display: flex;

    
   
}
.galeria-foto {

    color: black;
    position: relative;
    left: 96.3em;
}

.lbox{

    visibility: hidden;
    opacity: 0;
}

.min{
width: 300px;
padding: 10px;

}

.lbox:target{

    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: #0a0a0a;
    position: fixed;
}
.box_img{

    width: 1000px;
    margin: 150px auto;
}

.btn{

    color:#fff;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;

}

#prev{

    left: 5%;
    top: 45%;
}

#next{

    right: 5%;
    top: 45%;
}
#close {

    top: 0;
    right: 2%;

}
.box_img img{

    opacity: 0;
}
.lbox:target .box_img img{

    opacity: 1;
    transition: opacity .4s linear;
}

@media(max-width: 1622px) {

    .galeria-foto {
        position: relative;
        left: 0em;
        
    }

}

/* 
<!-- ================================================================================================
novo coiso
===============================================================================================--> */

* {
    margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	
	text-rendering:optimizeLegibility;
}



#container {
    /* max-width:400px; r*/
	width:50%;
	margin:0 auto;
    font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
    color:#000;
    position: relative;
    left: -30em;
}

.contato input[type="text"], .contato input[type="email"], .contato input[type="tel"], .contato input[type="url"], .contato textarea, .contato button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

.contato {
    background:#d4d3d3;
	padding:25px;
    margin:50px 0;
    margin-bottom: 0px;
    padding-bottom: 15px;
    padding-left: 25px;
    margin-left: 361px;
    margin-right: 201px;
    width: 835px;
    margin-top: 50px;
    margin-left: 341px;
}

.contato h3 {
    color: #7d0093 ;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

.contato h4 {
    margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
    border: medium none !important;
	margin: 0 0 10px;
	
	padding: 0;
	
}

.contato input[type="text"], .contato input[type="email"], .contato input[type="tel"], .contato input[type="url"], .contato textarea {
    width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

.contato input[type="text"]:hover, .contato input[type="email"]:hover, .contato input[type="tel"]:hover, .contato input[type="url"]:hover, .contato textarea:hover {
    -webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

.contato textarea {
    height:100px;
	max-width:100%;
    resize:none;
}

.contato button[type="submit"] {
    cursor:pointer;
	width:100%;
	border:none;
	background:#7d00938f;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}
.contato button[type="submit"]:hover {
    
    -webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

.contato button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

.contato input:focus, #contact textarea:focus {
    outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}
/* .horario {
    
    
    margin-right: 10px;
    height: 24px;
    width: 69px;
    display: flex;
    flex-direction: ;
    margin-left: 10px;
} */

.pagamento {
    width: 155px;
    padding-left: 10px;
    padding-right: 10px;
}

.horario {
    
    display: flex;
    flex-direction: row;
}
.hora {
    
    height: 50px;
    border-bottom-width: 1px;
    margin-bottom: 1px;
    padding-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
}
.luz {
    
    display: flex;
    height: 20px;
}

.som {
    
    display: flex;
}
.calendario {
    
    width: 0px;
    height: 0px;
    margin-top: 20px;
    
}
.horario-txt {
    
    height: 21px;
    width: 45px;
    padding-left: 55px;
    
}

.horario-box{
    
    border-top-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 2px;
    padding-bottom: 0px;
    height: 28px;
}

.dia-hora {
    
    display: flex;
}

#data {
    
    width: 130px;
    height: 28px;
}

.dia {
    
    padding-left: 10px;
    padding-right: 10px;
    
}
.dia-txt{
    
    height: 20px;
    width: 20px;
    margin-left: 50px;
    margin-bottom: 1px;
}

.a {
    padding-left: 2px;
    padding-right: 2px;
}
.luz-txt {
    
    padding-right: 30px;
}


.check{
    margin-right: 5px;
}

.reserva{
    
    color: #bd38d4 
}

.form {
    display: flex;
}
.forma {
    
    width: 135px;
}

#select1{
    width: 125px;
    height: 25px;
}
#select2{
    width: 125px;
    height: 25px;
}

@media(max-width: 1050px) {
#container {
    position: relative;
    left: -43em;

}

.contato {
    background:#d4d3d3;
	padding:25px;
    margin:50px 0;
    margin-bottom: 0px;
    padding-bottom: 15px;
    padding-left: 25px;
    margin-left: 361px;
    margin-right: 201px;
    width: 575px;
    margin-top: 50px;
    margin-left: 341px;
    position: relative;
    left: 5em;
}

.contato input[type="text"], .contato input[type="email"], .contato input[type="tel"], .contato input[type="url"], .contato textarea {
    width:50%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

.contato button[type="submit"] {
    cursor:pointer;
	width:50%;
	border:none;
	background:#7d00938f;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

.diaApublico {

    display: flex;

}

}
/* <!-- ================================================================================================
footer
===============================================================================================--> */

#footer {
    position: inherit;
    width:100%;
    height: 300px;

background-color: #171a25;
color: white;
border-top-width: 100px;
    margin-top: 100px;
}

.mapa {

    width: 70%;
    height: 200px;
    position: relative;
    top: 1em;
    left: 16em;
}

.endereco
{
    position: relative;
    top: 3.1em;
}


@media(max-width: 1050px) {
    .mapa {

        width: 70%;
        height: 200px;
        position: relative;
        top: 1em;
        left: 6em;
    }

    .endereco
{
    position: relative;
    top: 1.5em;
}

.murilo
{
    position: relative;
    top: 1.6em;
    left: 0em;
    width: 327px;
}
}