body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    margin: 0 auto; 

}
/* =============================================
                header
================================================*/
header{
    position: fixed;
    width: 100%;
    height: 0px;
    z-index: 999;
    background: #171a25;
    }
    .menu {
        width: 100%;
        height: 50px;
        background-color: #171a25;
        font-family: Arial;
    }
    
       /*Estilizando as listas */
    .menu ul {
        list-style: none;
        position: relative;
    }
    
    .menu ul li {
        width: 150px;
        float: left;
    }
    
    .menu a {
        
        padding-top: 12px;
        display: block;
        text-decoration: none;
        text-align: center;
        background-color: #171a25;
        color: #fff;
    }
    
    .menu ul li:hover ul {
        visibility: visible;
    }
    
    .menu a:hover {
        background-color: #f4f4f4;
        color: #555;
    }
    
    /*Criando o label */
    label[for=”bt_menu”]{
        padding: 5px;
        background-color: #171a25;
        /* color: #fff; */
        font-family: Arial;
        text-align: center;
        font-size: 90em;
        cursor: pointer;
        height: 50px;
        visibility: hidden;
    }
    
    #bt_menu {
        display: none;
        font-size: 10em;
        visibility: hidden;
    }
    
    label[for=”bt_menu”]{
        display: none;
        visibility: hidden;
        
    }
    
    /*Deixando o Menu Responsivo */
    
    @media(max-width: 1050px) {
        label[for=”bt_menu”] {
        display: block;
    }
    
    #bt_menu:checked ~ .menu{
        margin-left: 0;
    }
    
    .menu{
        position: relative;
        top: -2.7em;
        margin-top: 5px;
        margin-left: -100%;
        transition: all .1s;
    }
    
    .menu ul li {
        width: 100%;
        float: none;
    }
    
    .menu ul ul {
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all 4s;
    }
    
    .menu ul li:hover ul {
        height: auto;
        max-height: 200px;
    }        
    }
    
    /* .header {
        position: fixed;
        align-items: flex-end;
        color: white;
        align-content: center;
        justify-content: space-around;
        width: 1690px;
        background: #171a25;
        width: 100%;
    }
    
    .section-container {
        margin: 0 auto;
        max-width: 1360px;
    }
    nav{ 
        width: 100%;
        height: 15%;
        background: #171a25;  
        font-size: 15px;  
        font-family: 'Open Sans', sans-serif;
        
        
    }
    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        font-size: 1em;
        list-style-type: none;
    }
    nav ul > li {
        text-align: center;
        padding: 0.4em;
        display: inline;
        float: left;
    }
    
    nav ul > li > a {
        display: block;
        padding: 0.4em;
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
    } */
    
    .coroa {
    
        height: 25px;
        width: 35px;
    
    }
    #imagem {
        width: 100%; 
        position: relative;
        top: 3em;
    }
    
    /* .li1{
        position: relative;
        top: 0.5em;
        left: 9em;
    }
    .li2{
        position: relative;
        top: 0.5em;
        left: 9em;
    }
    .li3{
        position: relative;
        top: 0.5em;
        left: 9em;
    }
    .li4{
        position: relative;
        top: 0.5em;
        left: 10em;
    }
    .li5{
        position: relative;
        top: 0.5em;
        left: 11em;
    }
    .li6{
        position: relative;
        top: 0.5em;
        left: 12em;
    }
    .li7{
        position: relative;
        top: 0.5em;
        left: 13em;
    } */
    /* ================================================================================================
                                                    final header
    ===================================================================================================*/